<nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgba(0,0,0,.03)">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/index']"style="font: 1em sans-serif;">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cadastro-usuario']"style="font: 1em sans-serif;">Cadastro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/consulta-usuario']"style="font: 1em sans-serif;">Consulta</a>
      </li>
    </ul>
  </div>
</nav>